.blog {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem;
  font-size: 1.25rem;
  font-family: var(--font-inter);
  font-weight: 400;
}

.blog main {
  display: flex;
  flex-direction: column;
  max-width: 902px;
  align-self: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  font-family: var(--font-migha);
}

.header span {
  padding-top: 4px;
}

.header span:first-child {
  background-color :white;
  color: black;
  padding-top: 4px;
}

.header span:first-child::selection {
  background-color :black;
  color: white;
  padding-top: 4px;
}

.blog ::selection {
  background-color: white;
  color: black;
}

.post > header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.date {
  width: fit-content;
  min-width: fit-content;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 5px;
  font-size: 1.1rem;
}

.date:hover {
  background-color: white;
  color: black;
}

.post > header > h1 {
  margin: 0;
}

.post footer {
  margin: 64px 0;
  text-align: center;
  font-size: 65px;
}

.post :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 300;
}

.post :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: 3rem;
}

.post :is(h1, h2, h3, h4, h5, h6) + p,
.post :is(h1, h2, h3, h4, h5, h6) + pre {
  margin-top: 1rem;
}

.post p {
  margin-top: 2rem;
}

.post p:has(img) {
  margin-top: 3rem;
}

.post li {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.post blockquote {
  border-left: 4px solid white;
  padding-left: 1rem;
}

.post code {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: 0 5px;
  font-family: var(--font-geist-mono);
}

.post code::selection {
  background-color: black;
  color: white;
}

.post pre {
  border: 1px dashed white;
  margin-top: 2rem;
  padding: 2rem;
  overflow: auto;
}

.post pre > code {
  background-color: black;
  color: white;
  padding: 0;
}

.post a {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
}

.post a:hover {
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.post a::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-image: url('/external-link.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid white;
  border-radius: 2px;
  vertical-align: middle;
  display: inline-block;
}

.post img, .post video {
  display: flex;
  border: 1px solid white;
  max-width: 100%;
  min-width: 100%;
  border-radius: 5px;
}


/* .post details {
  border: 1px solid white;
  border-radius: 5px;
  margin: 3rem auto 3rem auto;
}

.post summary {
  padding: 5px;
  padding-left: 10px;
  color: white;
}

.post summary:hover {
  cursor: pointer;
}

.post > details > summary > svg {
  display: none !important;
} */



@media (min-width: 701px) and (max-width: 1120px) {
  .blog {
    padding: 4rem;
    font-size: 1.15rem;
  }

  .post > header {
    flex-direction: row;
    align-items: center;
  }

  .post p {
    margin-top: 1.75rem;
  }

  .post blockquote {
    border-left: 3px solid white;
    padding-left: 0.75rem;
  }

  .post pre {
    padding: 1.5rem;
  }
} 

@media (max-width: 700px) {
  .blog {
    padding: 2rem;
    font-size: 1rem;
  }

  .post > header {
    flex-direction: column;
    align-items: flex-start;
  }

  .post p {
    margin-top: 1.5rem;
  }

  .post blockquote {
    border-left: 2px solid white;
    padding-left: 0.5rem;
  }

  .post pre {
    padding: 1rem;
  }
}

